body {
  color: #fff;
  font-family: 'Lato', sans-serif;
}

h5 {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 300;
}

.u-vertical-center {
  display: flex;
  align-items: center;
}

.u-vertical-bottom {
  display: flex;
  align-items: flex-end;
}

.u-ta-l { text-align: left; }
.u-ta-c { text-align: center; }
.u-ta-r { text-align: right; }
